.col1 {
  margin-top: 3vh;
  float: left;
  width: 20%;
  height: auto;
  clear: both;
  margin-bottom: 3vh;
}

.col2 {
  float: right;
  width: 80%;
  height: auto;
}
.myDetailsHeader {
  margin-top: 5vh;
  text-align: center;
  float: left;
}
.myDetailsPara {
  clear: both;
  text-align: left;
}
.aboutContainer {
  clear: both;
}
